body {
  font-family: Arial, sans-serif;
  background-color: #e3bfab;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  width: 350px;
  padding: 20px;
  background: rgb(84, 111, 54);
  border-radius: 40px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

h1 {
  text-align: center;
  color: #333;
}

.input-group {
  display: flex;
  justify-content: space-between;
}

input[type="text"] {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

button {
  padding: 8px 12px;
  margin-left: 10px;
  font-size: 16px;
  background-color: #fb472f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(16, 206, 48);
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  padding: 10px;
  background: #b2c2d3;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}